/*------------------*/
/*       FOOTER     */
/*------------------*/

#footer-logo {
    width: 200px;
}

footer h2 {
    font-family: 'Open Sans', 'sans-serif';
    text-align: center;
}

.col-2 h2 {
    text-align: left;
}

footer{
    height: auto;

    font-family: Montserrat, sans-serif;
    background-color: #333;
    color: white;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 7%;
    padding-right: 7%;
    grid-gap: 0.5rem;
    justify-items: center;
    text-align: justify;
}

.footer-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.column {
    margin-bottom: 20px;
}


.col-1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.col-1 li {
    margin-bottom: 10px;
}

.col-1 a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.col-1 a:hover {
    text-decoration: underline;
}

.phone-icon {
    font-size: 10px;
    margin-right: 0.5em;
}

.fa-map-marker-alt {
    margin-right: 0.5em;
}

.tel-text {
    margin-bottom: 5px;
}

.tel-number {
    font-size: 29px;
    text-align: justify
}

.fa-envelope {
    margin-right: 0.5em;
}

.social-icons a {
    width:40px;
    height:40px;
    line-height:40px;
    /*margin-left:6px;*/
    /*margin-right:0;*/
    border-radius:100%;
    background-color:#33353d
}
.social-icons {
    display: flex;
    /*grid-template-columns: repeat(4, 1fr);*/
    justify-content: left;
    /*grid-gap: 10px;*/
}

.social-icons
{
    padding-left:0;
    margin-bottom:0;
    width: 100%;
}
.social-icons a
{
    display:flex;
    justify-content: center;
    align-items: center;
}

.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.github:hover
{
    background-color: #000000
}
.social-icons a.telegram:hover
{
    color:#1d94cf;
    background-color:#fff;
}
.social-icons a.codepen:hover
{
    background-color:#000000
}
.social-icons a.vk:hover
{
    background-color: #0077ff
}

.social-icons i {
    /*font-size: 15px;*/
}

.footer-links {
    list-style: none;
}

.footer-links li{
    margin-bottom: 5px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s; /* Плавное изменение цвета текста */
}

.footer-links a:hover {
    color: #ff9900; /* Цвет при наведении */
}

.footer-links a:active {
    color: #ff6a00; /* Цвет при активации */
}

.footer-line {
    height: 2px;
    background-color: #565f73;
    margin-bottom: 10px;
}

.copyright {
    padding-bottom: 10px;
}

.col-2, .col-3, .col-4 {
    text-align: center;
}

footer ul {
    padding-inline-start: 0;
}